/* AeonikFono Family (primary font ya cuy) */
@font-face {
    font-family: 'AeonikFono';
    src: url('fonts/AeonikFono-Air.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikFono';
    src: url('fonts/AeonikFono-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikFono';
    src: url('fonts/AeonikFono-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikFono';
    src: url('fonts/AeonikFono-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikFono';
    src: url('fonts/AeonikFono-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikFono';
    src: url('fonts/AeonikFono-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikFono';
    src: url('fonts/AeonikFono-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/* AeonikPro Family (secondary font ya cuy) */
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-Air.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-AirItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-ThinItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'AeonikPro';
    src: url('fonts/AeonikPro-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

/* Roobert Semi Mono Family */
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'RoobertSemiMono';
    src: url('fonts/Roobert/RoobertSemiMonoTRIAL-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
